@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body, html {
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index-img {
    background-image: url(pics/s3w.png);
    height: 80vh;
    width: 80vh;
    background-size: cover;
}

.index-img > a#produce {
    display: inline-block;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 8vh;
    letter-spacing: -0.05em;
    transform: translate(-0.7vh, 30vh) rotate(-40deg);
    text-decoration: none;
    color: #F9F1E4;
    transition: color 1s ease-in-out 0.01s;
}

.index-img > a#consume {
    display: inline-block;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 8vh;
    letter-spacing: -0.05em;
    transform: translate(-25vh, 65.5vh) rotate(-40deg);
    transform-origin: bottom left;
    text-decoration: none;
    color: #F9F1E4;
    transition: color 1s ease-in-out 0.01s;
}

.index-img > a#socials {
    display: inline-block;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 8vh;
    letter-spacing: -0.05em;
    transform: translate(60vh, 48vh) rotate(-40deg);
    transform-origin: bottom left;
    text-decoration: none;
    color: #282B3C;
    mix-blend-mode: hard-light;
    transition: color 1s ease-in-out 0.01s;
}

.index-img > a#consume:hover, .index-img > a#produce:hover, .index-img > a#socials:hover {
    color: #0d29c5;
    mix-blend-mode: multiply;
}

#boat {
    background-image: url(pics/boat.jpg);
    height: 21vh;
    width: 21vh;
    border-radius: 50%;
    background-size: cover;
    transform: translate(40.3vh, 3.4vh);
    transition: 0.5s ease-in;
}

#boat:hover {
    opacity: 0;
}


.socials-img {
    background-image: url(pics/socials.png);
    height: 80vh;
    width: 80vh;
    background-size: cover;
}

#home {
    display: inline-block;
    font-family: 'IM Fell DW Pica', serif;
    text-decoration: none;
    font-size: 2.3vh;
    font-weight: bold;
    transform: translate(67.2vh, -79.65vh);
    font-family: 'Inter', sans-serif;
    color: #F9F1E4;
}