@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

body, html {
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img {
    background-image: url(s3w.png);
    height: 80vh;
    width: 80vh;
    background-size: cover;
    -ms-box-orient: horizontal;
}

.img > a#produce {
    display: inline-block;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 8vh;
    letter-spacing: -0.05em;
    transform: translate(-0.7vh, 30vh) rotate(-40deg);
    text-decoration: none;
    color: #F9F1E4;
}

.img > a#consume {
    display: inline-block;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 8vh;
    letter-spacing: -0.05em;
    transform: translate(-25vh, 65.5vh) rotate(-40deg);
    transform-origin: bottom left;
    text-decoration: none;
    color: #F9F1E4;
}

.img > a#socials {
    display: inline-block;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 8vh;
    letter-spacing: -0.05em;
    transform: translate(78vh, 59.2vh) rotate(-90deg);
    transform-origin: bottom left;
    text-decoration: none;
    color: #282B3C;
}
